<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Layout</title>
    <link rel="stylesheet" href="/Ai_assisted_design/public/stylesheets/style.css" />
</head>
<body>
    <!-- Static layout file: use as a starting point if you want separate layouts -->
    <!-- Insert page content here -->
     <div id="content">{% block content %}{% endblock %}</div>
    <script src="/Ai_assisted_design/public/javascripts/main.js"></script>
</body>
</html>